apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
    - job_name: "kubernetes-pods"
      static_configs:
      - targets: ['localhost:9090']
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: prometheus
  name: prometheus
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - image: prom/prometheus:main
          name: prometheus
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
          ports:
            - containerPort: 9090

          resources:
            requests:
              memory: "64Mi"
              cpu: "40m"
            limits:
              memory: "128Mi"
              cpu: "250m"

          volumeMounts:
            - name: prometheus-configmap
              mountPath: /etc/prometheus/
      volumes:
        - name: prometheus-configmap
          configMap:
            name: prometheus-config
